<% if @users.any? && params[:page].nil? %>
  <h1> ユーザー </h1>
  <%= render "shared/users_item", users: @users[0..5] %>
<% end %>
<% if @kifus.any? %>
  <h1> 棋譜 </h1>
  <%= paginate @kifus %>
  <%= render "shared/kifus_item", kifus: @kifus %>

  <%= paginate @kifus %>
<% end %>
<% if !(@kifus.any? || @users.any?) %>
  <%= tag.h1 "「#{params[:query]}」の検索結果はありません", id: "no-search" %>
<% end %>