<h1>Kifus#index</h1>
<p>Find me in app/views/kifus/index.html.erb</p>
<% if @kifus.any? %>
<%= paginate @kifus %>
<% @kifus.each do | kifu | %>
  <%= tag.div class: "kifu" do %>
    <%= link_to kifu_path(kifu) do %>
      <%= tag.p class: "kifuUrl" do %>
        先手：
        <%= tag.span kifu.player1, id: win_or_lose(1,kifu) %>
        <%= tag.span "VS", id: "vs" %>
        後手：
        <%= tag.span kifu.player2, id: win_or_lose(2,kifu) %>
        <%= tag.span timewithzone_to_str(kifu.created_at) , id: "created" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= paginate @kifus %>
<% end %>

